<% title=curso.titulo %>
<h2><%= curso.titulo %></h2>
<p><%= curso.descripcion %></p>
<div class="ratio ratio-16x9 mb-4">
  <iframe src="https://www.youtube.com/embed/5KAcJC3ddP0" allowfullscreen></iframe>
</div>
<button class="btn btn-success"><i class="fa-solid fa-check"></i> Marcar Completado</button>